
.print-only {
    display: none;
}

@media print {
    .browser-only {
        display: none;
    }
    .print-only {
        display: initial;
    }
    dl.print-only, figure.print-only {
        display: block;
    }
}

.url-qrcode {
    float: right;
}

body {
    max-width: 45em;
    word-wrap: break-word;
    word-break: break-all;
}


a {
    text-decoration: none;
}

main {
    margin: 1em;
}

main > p {
    text-indent: 2em;
}

main > hr {
    width: 60%;
    margin: 3em auto;
}

blockquote {
    margin: 1em;
    padding: 1em;
    border: solid 1px;
    border-left: solid 0.5em #BBB;
}

main pre > code {
    display: block;
    padding: 1em;
    width: 45em;
    font-size: 1rem;
    border: solid 1px;
}

pre {
    white-space: pre-wrap;
}


footer {
    margin: 2em 1em;
    border-radius: 1em;
    border-top: solid;
    border-bottom: solid;
}

footer dl {
    margin: 0.5em;
}

footer dd ul {
    padding: 0;
}
footer dd li {
    display: inline;
    margin: 0.3em;
}

footer dd li:before {
    content: '#';
}

#rel-page {
    margin: 1em 0.5em;
}

#rel-page dl {
    margin: 0.2em;
}

#rel-page dt, #rel-page dd {
    display: inline;
}

#rel-page dt:after {
    content: ": ";
}

#rel-page dd {
    margin: 0;
}

iframe {
    display: block;
    width: 100%;
    height: 25em;
}
