

@media print {

    /* hide page description */
    h1 + p {
        display: none;
    }

    /* set page margin */
    @page {
        margin: ;
        padding: 0;
    }
    main, body {
        margin: 0 !important;
        padding: 0;
    }
    
    body {
        font-size: 12pt;
        line-height: 18pt;
    }
    h1 {
        font-size: 20pt;
        line-height: 24pt;
        font-weight: normal;
    }
    h1:lang(en) {
        font-size: 16pt;
        line-height: 18pt;
        font-weight: normal;
    }
    header i {
        font-size: 14pt;
    }
    header i:lang(en) {
        font-size: 14pt;
    }
    header h2 {
        font-size: 14pt;
        font-weight: normal;
    }

    h2 {
        font-size: 14pt;
        font-weight: bold;
    }
    h3 {
        font-size: 12pt;
        font-weight: bold;
    }
    main > p {
        text-indent: 1cm;
    }

    /* 參考文獻不編號 */
    h2.reference::before {
        content: none;
    }
    /* 參考文獻凸排 */
    h2.reference ~ p {
        text-indent: -1cm;
        padding-left: 1cm;
    }
    

    caption, figcaption {
        font-size: 12pt;
        font-weight: normal;
        text-align: center;
    }
    
    h2, h3, h4, h5 {
        page-break-after: avoid ;
    }
    header {
        page-break-after: always;
    }

    hr.structure { display: none; }
    hr.page-break, hr:first-of-type {
        page-break-after: always;
        visibility: hidden;
        padding: 0;
        border: none;
    }

    figure { page-break-inside: avoid; }

    a::after {
        color: black;
        content: "(" attr(href) ")";
    }
    a.image::after {
        display: block;
        text-align: center;
        content: attr(href);
    }

    .browser-only, script, style {
        display: none;
    }
    .print-only { display: initial; }
    figure.print-only { display: block; }

    /* metadata footer and comment board */
    body > footer, body > footer + details {
        display: none;
    }
    main pre > code {
        overflow: initial;
    }
}


.url-qrcode {
    float: right;
    margin: 0;
    padding: 0;
    text-indent: 0;
    clear: right;
}

.print-only {
    display: none;
}

dt {
    font-weight: 500;
}
header dt {
    display: inline;
}
header dt:after {
    content: ":";
}
header dd {
    display: inline;
    margin: 0 0 0 0;
}

/* table ***********************************/

caption {
    font-size: larger ; 
    color: grey; 
    }

table { 
    margin: 1em auto; 
    border: 1px solid; 
    text-align: center; 
    counter-increment: table-number;
    /*text-align: justify; 
    text-justify: inter-word; */
}
table caption:empty::after {
    content: "表" counter(table-number);
    content: "表" counter(table-number, cjk-decimal);
}
table caption::after {
    content: "表" counter(table-number) ". ";
    content: "表" counter(table-number, cjk-decimal) "、";
}

th, td {
    border: 1px solid; 
    }

td {
    padding: 0 0.5ex 0 0.5ex; 
    /*width: 8em; */
    }

pre { margin: 1em; }

blockquote, q { color: #666; }

body {
    font-family: paper-font;
}
:lang(en) {
    font-family: paper-font;
}

@font-face {
    /* chinese font */
    font-family: paper-font;
    src: local(教育部正楷體), local(全字庫正楷體),
         local("AR PL UKai TW"), local(Kai),
         local(標楷體), local(楷體);
    /* CJK, CJK-ext-A, CJK-compatibilty, CJK-symbol, full-width-alphabate */
    unicode-range: U+4E00-9FFF, U+3400-4DBF, U+F900-FAFF,
                   U+3000-303F, U+FF01-FF5E;
}
@font-face {
    /* english font.
       times for mac, linux, same to times roman.
       nimbus roman is same to times. */
    font-family: paper-font;
    src: local(times), local("Nimbus Roman No9 L"), local("Noto Serif"),
         local("Liberation Serif"), local("Times New Roman");
    unicode-range: U+0000-024F, U+1E02-1EF3;
}
@font-face {
    /* greek font */
    font-family: paper-font;
    src: local("Liberation Serif"), local("Times New Roman");
    unicode-range: U+0370-03FF;
}

/*    make header beheave like document header, as title.
    and the sub title should.     */

code {
    border: 1px solid;
    margin: 0 0.5ex;
}

pre code {
    display: block;
    padding: 1em;
}

code.term , .term code {
    display: block;
    margin: auto;
    overflow: auto;
    background: #333333;
    color: #C0C0C0;
    font-family: "Monospace" ;
    padding: 0 0.3ex 0 0.3ex;
    margin: 0 0.2ex 0 0.2ex;
    border: 1px solid ; 
    text-indent: 0;
}

main {
    margin: 2em;
}


main > p {
    text-indent: 2em;
}

dd {
    margin-bottom: 1ex; 
}

q:lang(zh)  { quotes: "「" "」" "『" "』" ; }
q:lang(zh).me { quotes: "『" "』" "「" "」" ; }
q { 
    color: #555;
    font-style: italic; 
    }
q.me { quotes: "\2018" "\2019" "\201C" "\201D" ; }

/* dl inline ***************************************/

footer dl {
    margin: 0.5em 1em;
}

dl ul {
    display: inline;
    margin: 0;
    padding: 0;
}
dl li {
    display: inline;
    margin: 0 0.3em;
}

dt {
    font-weight: 200; 
    /*border: solid; 
    border-width:  1px 0 0 0 ;*/
}

.inline dt {
    /*border: 0; */
    line-height: 1.5em;
    float: left; 
}

.inline dt:lang(en):after {
    display: inline;
    content: ': '; 
    margin-right: 0.5em;
}

.inline dt:lang(zh):after {
    display: inline;
    content: '：' ; 
}

.inline dd {
    line-height: 1.5em;
}


#markdown { display: none; }

img { 
    max-width: 80%; 
    display: block; 
    /* box-shadow: 0 0 0.3ex black ; */
    margin: auto; 
}

img.inline, p img {
    display: inline; 
    /* box-shadow: none;  */
}

ol.cjk { list-style: cjk-ideographic; }

ol > li > ol { list-style: lower-latin ; }

ol.cjk > li > ol { list-style: decimal; }

ol > li > ol > li > ol { list-style: lower-latin; }


figure { /*    display table made box adjust element inside. */
    margin: 1em ; 
    counter-increment: image-number;
}

figcaption::before {
    content: "圖" counter(image-number) ". ";
    content: "圖" counter(image-number, cjk-decimal) "、";
}
figcaption:empty::before {
    content: "圖" counter(image-number);
    content: "圖" counter(image-number, cjk-decimal);
}

figure img , figure pre , figure iframe {
    display: block; 
    margin: auto; 
    /* box-shadow: 0 0 0.3ex black ; */
}

iframe {
    display: block;
    margin: auto;
    width: 500pt;
    height: 300pt;
}

figcaption { /*    remove box shadow. */
    color: #333;
    font-size: 110%;
    box-shadow: none; 
    margin: 0.5ex; 
    text-align: center;
    }

math {
    margin: 2em;
}

.math {
    font-style: italic; 
    font-size: 100%; 
    font-family: serif; 
    }

.markdown , .eqn , .latex , .table , .hide { display: none; }

#meeta-js dt, #meeta-js dd {
    line-height: 1.2em;
}

ul#page li {
    display: inline-block;
    padding: 0; 
    margin: 0;
    width: 30%;
    text-align: center;
}

embed, object {
    display: block;
    margin: auto;
    width: 100%;
    height: 100em;
}


/** thease code construct a counter for question number *****/

main { 
    counter-reset: question-number; 
}

main .question {
    counter-increment: question-number; 
}

.question {
    margin: 2em 0 1em 0;
    font-size: large;
    color: grey;
}
.question:before {
    content: counter(question-number) ". ";
}

.question p {
    display: inline;
}

.raw {
    display: none;
}


/* top level title center */
h1, h2 {
    text-align: center;
}


/* top level cjk decimal */
/* after first hr devide cover */
hr {
    counter-reset: counter-lv1;
}
h2 {
    counter-increment: counter-lv1;
}
h2::before {
    content: counter(counter-lv1) ". ";
    content: counter(counter-lv1, cjk-decimal) "、";
}

/* second level dot decimal */
h2 {
    counter-reset: counter-lv2;
}
h3 {
    counter-increment: counter-lv2;
}
h3::before {
    content: counter(counter-lv1) "." counter(counter-lv2) " ";
}

/* summary no counter */
header i {
    display: block;
}
h1, header h2, header i {
    text-align: center;
}
header h2::before {
    content: none;
}

a.reference {
    font-size: 50%;
}
a.reference::before {
    color: black;
    content: "[";
}
a.reference::after {
    color: black;
    content: "]";
}

h2.reference ~ dl > dd.context:not(:empty)::before,
h2.reference ~ dl > dd.context:not(:empty)::after {
    content: "……";
}

a[data-reference-id]::after {
    content: "[" attr(data-reference-id) "] ";
    font-size: smaller;
}

dt[data-reference-id]::before {
    content: attr(data-reference-id) ". ";
}
dl.image > dt[data-reference-cjk]::before {
    content: "圖" attr(data-reference-cjk) "、";
}
