
header, blockquote {
    margin: 1em auto;
}
header {
    display: block;
    max-width: 50em;
    padding: 0 1em;
}
header p {
    text-align: right;
}

nav {
    border-top: solid 1px;
    border-bottom: solid 1px;
    width: auto;
    margin: 0.2em;
}
nav ul {
    /* list-style: none; */
    padding: 0;
    max-width: 70em;
    margin: 0.3em auto;
}
nav li {
    display: inline-block;
    margin: 0 1em;
}
nav a {
    /* can not change `:visited` */
    text-decoration: none;
}

#daily-sentence, main {
    max-width: 60em;
    margin: auto;
    padding: 0 1em;
}
#daily-sentence pre {
    width: 100%;
    overflow: auto;
}
#daily-sentence {
    border: dotted;
    border-top: none;
}

article {
    margin: 2em 0;
}
article > ul:last-child {
    padding: 0;
}
article > ul:last-child li {
    display: inline-block;
    margin-right: 0.5em;
    color: grey;
}
article > ul:last-child li:before {
    content: '#';
}

body > button {
    display: block;
    margin: auto;
}

article .summary > pre.diff {
    white-space: pre-wrap;
}
